<nav class="navbar navbar-expand-xl navbar-light fixed-top navbar-custom {% if page.nav-short %}top-nav-short-permanent{% else %}top-nav-regular{% endif %}">

  <a style="text-decoration: none;" class="navbar-brand d-flex align-items-center" href="{{ '' | absolute_url }}">
    {%- if site.title-img -%}
      <img src="{{ site.title-img | relative_url }}" alt="{{ site.title }} Logo" style="height: 2.5rem; margin-right: 0.5rem;">
    {%- endif -%}
    {%- if site.title -%}
      <span class="ubuntu-font"><img style="height: 2.5rem; margin-right: 0.5rem; border-radius: 50%;" alt="Navigation bar avatar" class="avatar-img" src="/assets/img/avatar-icon.png">{{ site.title }}</span>
    {%- endif -%}
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav ml-auto">
      {%- for link in site.navbar-links -%}
        {%- if link[1].first %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ link[0] }}</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              {%- for childlink in link[1] -%}
                {%- for linkparts in childlink %}
                  <a class="dropdown-item" href="{{ linkparts[1] | relative_url }}">{{ linkparts[0] }}</a>
                {%- endfor -%}
              {%- endfor %}
            </div>
          </li>

        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ link[1] | relative_url }}">{{ link[0] }}</a>
          </li>

        {%- endif -%}
      {%- endfor -%}
<li class="nav-item">
    <a style="color: hotpink"class="nav-link" href="https://www.paypal.com/donate/?hosted_button_id=8P43MJQ2TM7S2" target="_blank">❤ Support</a>
  </li>
      {% if site.post_search %}
        <li class="nav-item">
          <a class="nav-link" id="nav-search-link" href="#" title="Search">
            <span id="nav-search-icon" class="fa fa-search"></span>
            <span id="nav-search-text">Search</span>
          </a>
        </li>
      {% endif %}



    </ul>
  </div>
    {% if site.darkmode.toggle %}
    <div id="change-skin" title="Toggle Night Mode">
  <span class="skin-btn dark-mode">🌙</span>
  <span class="skin-btn light-mode">☀️</span>
</div>
    {% endif %}

  {% if site.navbar-extra %}
    {% for file in site.navbar-extra %}
      {% include {{ file }} %}
    {% endfor %}
  {% endif %}



</nav>

{% include search.html %}
